@import "../../../../sassStyle/variable";
.btnType {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    border-radius: $size5;
    background-color: $white1;
    border: 0.1px solid gray;
   p {
        margin: 0;
    }
}